<!DOCTYPE html>
<html>
<head>
  <title>Corkboard</title>
  <%= stylesheet_link_tag    "corkboard/application", :media => "all" %>
  <%= javascript_include_tag "corkboard/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
